.alert-container {
    margin-top: 0px;
    margin-left: 500px;
    padding:0px;
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
.fixed-alert {
    position: fixed;
    top: 20px; /* Adjust to match your navbar height */
    width: 30%;
    z-index: 1050; /* Ensures it stays above content but below navbar */
  }
  
  .mode-switcher-top {
    position: absolute;
    top: 70px; /* Adjust based on navbar height */
    right: 10px; /* Aligns to the right */
    z-index: 1000; /* Keeps it on top of other elements */
  }
  
  
  .colorPalette{
    position: absolute;
    top: 65px; /* Adjust based on navbar height */
    right: 120px; /* Aligns to the right */
    z-index: 1000; 
  }

  .AboutName{
    margin-left: 18%;
  }